.form-component-container {
  display: flex;

  flex-direction: column;
  align-items: center;
  background-color: rgb(240, 220, 221);
  min-width: 100vw;
}

.form-title{
  margin-top: 8vh;
  font-size: 2em;
  font-weight: 800;
}

.form-category-name {
  color: rgb(131, 113, 135);
  font-size: 3vh;
  display: flex;
  margin-top: 4vh;
  align-items: center;
  justify-content: space-between;
  width: 60vw;
}

.form-input-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 60vw;
}


/* Coupon Form */

.coupon-form-instructions-container{
  display: flex;
  width: 100%;
  margin-top: 10vh;
}
.coupon-form-instructions{
  color: rgb(74, 72, 96);
  font-size: 1.3em;


}

