.CON-component{
    margin-top: 10vh;
    min-height: 80vh;
}

.CON-title-1{
    margin-right: 30vw;
    font-family: 'Junge';
    font-size: 2em;
    font-weight: 900;
    margin-bottom: 1em;
    margin-left: 10vw;
}

.CON-paragraph-1{
    margin-left: 10vw;
    font-size: 1.2em;

}