.checkout-one-container {
  display: flex;
  height: 100vh;
}

.checkout-two-container {
  display: flex;
  height: 100vh;

}

.checkout-one-column-1 {
  display: flex;
  flex-direction: column;
  width: 55vw;
  align-items: center;

}

.checkout-one-column-1-logo{
    height: 15vh;
    width: 38vh;
    margin-top: 3vh;
}

.checkout-column1-arrow{
    height: .8em
}

.checkout-previous-shipping-address-container{
    display: flex;
    width: 45vw;
    font-family: 'Source Sans Pro';
    flex-direction: column;
}

.checkout-checkbox-div{
  display: flex;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 5vw;
}

.checkout-checkbox{
     background-color: rgb(240, 240, 240);
}

.checkout-previous-shipping-header{
    font-family: 'Playfair Display';
    font-size: 1.2em;
    margin-top: 1vh;
    margin-bottom: 5vh;
}

.checkout-shipping-header{
  font-family: 'Playfair Display';
  font-size: 1.2em;
  margin-top: 1vh;
  margin-bottom: 5vh;
}

.checkout-previous-address{
  margin-left: 5vw;
  font-weight: 900;
}

.checkout-column-1-steps{
    margin-top: 1vh;
    display: flex;
    font-family: 'Source Sans Pro';
    font-size: .8em;
    width: 44vh;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10vh;
}

.checkout-column-1-info{
    font-weight: 900;
}


.checkout-shipping-address-1{
height: 5vh;
width: 40vw;
border-radius: 2px;
border:1px solid #bdc0bf;
margin-bottom: 2vh;
padding-left: 2vw;
font-family: 'Source Sans Pro';
font-size: .8em;
}

.checkout-shipping-address-2-div{
  display: flex;
  
}

.checkout-shipping-address-2{
  height: 5vh;
  width: 18.5vw;
  margin-right: .7vw;
  border-radius: 2px;
border:1px solid #bdc0bf;
margin-bottom: 2vh;
padding-left: 2vw;
font-family: 'Source Sans Pro';
font-size: .8em;

}

.checkout-shipping-address-2-select{
  height: 5.5vh;
  width: 21vw;
  margin-right: .7vw;
  
border:1px solid #bdc0bf;
margin-bottom: 2vh;
padding-left: 2vw;
font-family: 'Source Sans Pro';
font-size: .8em;
}

.checkout-one-payment-button{
  height: 7vh;
  width: 15vw;
  border-radius: 2px;
  background-color: #bdc0bf;
  font-family: 'Source Sans Pro';
  font-size: .8em;
  margin-top: 2vh;
}

.checkout-one-payment-button-div{
  display: flex;
  justify-content: flex-end;
  width: 39vw;

}

.checkout-one-column-2 {
    
  display: flex;
  flex-direction: column;
  background: rgb(240, 240, 240);
  width: 45vw;
  min-height: 150%;
  border-left: 1px solid #bdc0bf;
}

.checkout-one-items-list {
    margin-top: 5vh;
  display: flex;
  justify-content: space-around;
  width: 100%;
  border-bottom: solid 1px #3ca6cd;

}

.checkout-one-items-list-images {
  height: 8vh;
  width: 8vh;
  margin-bottom: 1em;
  margin-top: 1em;
}

.checkout-one-items-list-name-quantity {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-between;
}

.checkout-one-items-list-font{
    font-family: 'Source Sans Pro';
    font-size: .8em;
}

.checkout-one-coupon-div {
  display: flex;
  justify-content: space-around;
  padding: 1em;
}
.checkout-one-coupon-input {
  width: 60%;
  font-size: 1em;
  font-family: 'Source Sans Pro';
  text-align: center;
}

.checkout-one-tax-div {
  display: flex;
  justify-content: flex-end;
  font-family: 'Source Sans Pro';
}

.checkout-two-instructions{
  margin-bottom: 5vh;
}


.checkout-two-added {
  display: flex;
  justify-content: flex-end;
  font-family: 'Source Sans Pro';
  font-size: .8em;


}

.checkout-one-total {
  display: flex;
  justify-content: flex-end;
  font-family: 'Source Sans Pro';
}

.checkout-paypal-button-div{
  width: 100%;
  display: flex;
  justify-content: center;
}

.checkout-return-to-store-button{
  margin-top:10vh;
  background-color: none;
  border: solid 1px #3ca6cd;
  width: 45vw;
  height: 6vh;
  font-family: Cousine;
  font-size: .66em;
  /* margin-right: 10vw; */
/* margin-left: 10vw; */
margin-bottom: 15vh;
}

.checkout-return-to-store-button:hover{
  background-color: #3ca6cd;
  color: white;
  
}
