.bag-container {
  min-height: 100%;
  width: 50vw;
}

.BAG-SM-component {
  width: 50vw;
  overflow-y: scroll;
  
}

.BAG-top-icons {
  display: flex;
  justify-content: space-between;
  margin-top: 8vh;
  margin-right: 5vw;
  margin-left: 5vw;
  font-family: Cousine;
  font-size: 0.9em;
}

.BAG-close-button {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.BAG-bag-icon {
  height: 6vh;
  width: 6vh;
}

.BAG-total{
  font-family: "Zilla Slab";
}
/* Bag Item Component */

.BAG-item-components {
  display: flex;
  flex-direction: column;
  margin-right: 5vw;
  margin-left: 5vw;
  margin-top: 5vh;
}

.BAGITEM-container {
  display: flex;
  margin-top: 3vh;
  border-bottom: solid 1px #3ca6cd;
  padding-bottom: 2em;
}

.BAG-product-details-container {
  width: 28vw;
  margin-left: 3vw;
  font-family: Cousine;
  font-size: 0.9em;
}

.BAG-product-details-top-part {
  display: flex;
  flex-direction: column;
  height: 15.5vh;
}

.BAG-ITEM-name {
  font-weight: 900;
  font-size: 1.2em;
  font-family: "Zilla Slab";
}

.BAG-ITEM-delete {
  height: 2.5em;
  width: 2.5em;
}

.BAG-ITEM-size{
  margin-bottom: 1em;
}

.BAG-ITEM-img {
  width: 9vw;
  height: 18vh;
}

.BAG-name-and-delete-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: .5vh;
}

.BAG-checkout-button {
  margin-top: 5vh;
  background-color: none;
  border: solid 1px #edb3c4;
  width: 100%;
  height: 6vh;
  font-family: Cousine;
  font-size: 0.9em;
  margin-bottom: 5vh;
}

.BAG-checkout-button:hover {
  background-color: #edb3c4;
  color: white;
}

.BAG-ITEM-flashsale div{
  display: flex;
  justify-content: space-between;
  margin-bottom: .5vh;


}


@media (max-width: 1000px) {
}

@media (max-width: 900px) {
}

@media (max-width: 800px) {
}

@media (max-width: 700px) {
  .bag-container {
    /* width: 120%; */
  }
  .BAG-SM-component {
    width: 80vw;

  }
  .BAG-product-details-container {
    width: 50vw;
  
  }
  .BAG-ITEM-img {
    width: 15vw;
    height: 10vh;
  }
  .BAG-ITEM-name {

    font-size: .8em;

  }

  .BAG-product-details-top-part {
   
    height: 15vh;
  }
  .BAG-name-and-delete-row {
  
    margin-bottom: .5vh;
  }

  .BAG-ITEM-size, .BAG-ITEM-style {
font-size: .7em;
margin:0;
  }
  .BAG-ITEM-size{
    margin-top: .5vh;
  }

  .BAG-checkout-button {
    width: 50%;
    margin-right: 25vw;
  }
}

@media (max-width: 600px) {
}

@media (max-width: 500px) {
}

@media (max-width: 400px) {
}