

.container {
  display: flex;
  justify-content: center;
}

.column1,
.column2 {
  margin-top: 5vh;
}

.column1 {

}

.column2 {
  padding: 10vh;
  font-size: 3vh;
  margin-left: 10vh;
  
}

.product-title {
  color: #39363d;
  font-size: 5vh;
  font-weight: 600;
  font-family: "Mermaid";
}

.product-img {
  margin-top: 3vh;
  height: 80vh;
}

.product-select {
  background-color: white;
    width: 25vw;
  position: relative;
  height: 5vh;
  font-size: 2.5vh;
  background-color: white;
  border: none;
  border-top: 1px solid #b68da4;
  border-bottom: 1px solid #b68da4;
  border-radius: 0;
  
}

.product-price-div {
  display: flex;
  font-family: 'Zilla Slab';
  justify-content: space-between;
  /* padding-right: 3vw; */
  margin-bottom:1.5em;
  
}

.product-size-options {
  display: flex;
  justify-content: space-between;
  /* padding-right: 3vw; */

}

.product-description{
    display: flex;
    margin-top: 10vh;
    height: 20vh;
    
    /* padding-right: 3vw; */
}

.product-option {
 
}

.product-select:focus {
  outline: none;
}

.product-size-heading{
    display: flex;
    align-items: center;
}

.product-select:not([multiple]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: right 50%;
  background-repeat: no-repeat;
  background-image: url("../../../assets/arrow.svg");
  
  background-size: 15px;
  
  padding-right: 1.5em;
}

select.product-select{
    font-family: 'Zilla Slab';

}

.product-add-to-bag-button-container{
  display: flex;
  justify-content: center;
}

.product-add-to-bag-button{
  margin-top: 15vh;
  background-color: none;
  border: solid 1px #3ca6cd;
  width: 100%;
  height: 6vh;
  font-family: Cousine;
  font-size: .66em;
}


.product-add-to-bag-button:hover{
  background-color: #3ca6cd;
  color: white;
  
}


@media (max-width: 900px) {

}


@media (max-width: 800px) {

}


@media (max-width: 700px) {

}


@media (max-width: 600px) {
  .container {
    display: flex;

    flex-direction: column;
    
  }

  .product-img {
    margin-top: 1vh;
    height: 65vh;
    width: 90%
    

  }

  .column1 {
display: flex;
justify-content: center;
  }

  .column2 {
    padding: 2vh;
    font-size: 3vh;
    margin-left: 1vh;
   
    
  }

  .product-select {
    width: 80%;
  }


}


@media (max-width: 500px) {

}


@media (max-width: 400px) {

}