.container {
  display: flex;
  justify-content: center;
  min-height: 80vh;
  /* width: 100vw; */
}

.column1,
.column2 {
  margin-top: 5vh;
  min-height: 80vh;
}

.column1 {
  width: 35vw;
}

.column2 {
  /* padding: 10vh; */
  padding-top: 5vh;
  padding-left: 5vh;
  font-size: 3vh;
  margin-left: 10vh;
  width: 35vw;
}

.product-title {
  color: #39363d;
  font-size: 4vh;
  font-weight: 600;
  font-family: "Junge";
}

.product-img {
  margin-top: 3vh;
  height: 70vh;
  width: 35vw;
}

.product-select {
  background-color: white;
  width: 25vw;
  position: relative;
  height: 5vh;
  font-size: 2.5vh;
  background-color: white;
  border: none;
  border-top: 1px solid #b68da4;
  border-bottom: 1px solid #b68da4;
  border-radius: 0;
}

.product-price-div {
  display: flex;
  font-family: "Zilla Slab";
  justify-content: space-between;

  margin-bottom: 1.5em;
  align-items: center;
}

.product-size-options {
  display: flex;
  justify-content: space-between;

  /* padding-right: 3vw; */
  margin-bottom: 1.5em;
}

.product-quantity-div {
  display: flex;
  font-family: "Zilla Slab";
  justify-content: space-between;
  /* padding-right: 3vw; */
  margin-bottom: 1.5em;
  /* align-items: center; */
  height: 2em;
}

.product-quantity-input {
  margin-bottom: 1.5em;
  width: 3vw;
  height: 3vh;
  font-family: "Zilla Slab";
  font-size: 1em;
  text-align: center;
  border: 1px solid #b68da4;
}

.product-description {
  display: flex;
  margin-top: 5vh;
  height: 20vh;
  font-family: "Zilla Slab";

  /* padding-right: 3vw; */
}

.product-option {
}

.product-select:focus {
  outline: none;
}

.product-size-heading {
  display: flex;
  align-items: center;
  font-family: "Zilla Slab";
}

.product-select:not([multiple]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: right 50%;
  background-repeat: no-repeat;
  background-image: url("../../../assets/arrow.svg");

  background-size: 15px;

  padding-right: 1.5em;
}

select.product-select {
  font-family: "Zilla Slab";
}

.product-add-to-bag-button-container {
  display: flex;
  justify-content: center;
}

.product-add-to-bag-button {
  margin-top: 3vh;
  background-color: none;
  border: solid 1px #3ca6cd;
  width: 100%;
  height: 6vh;
  font-family: Cousine;
  font-size: 0.66em;
}

.product-add-to-bag-button:hover {
  background-color: #3ca6cd;
  color: white;
}

.product-flashsale-size {
  font-size: 0.7em;
  padding-top: 1vh;
}

.product-edit-link {
  text-decoration: none;
}

.product-edit-link-div {
  margin-bottom: 2vh;
  display: flex;
  /* justify-content: center; */
  color: #cf0808;
  font-family: "Junge";
  font-weight: 900;

  top: 4;
}

@media (max-width: 900px) {
}

@media (max-width: 800px) {
}

@media (max-width: 700px) {
}

@media (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product-img {
    margin-top: 1vh;
    margin-bottom: 0;
    height: 50vh;
    width: 75vw;
  }

  .column1 {
    display: flex;
    justify-content: center;
    width: 70%;
    min-height: 45vh;
  }

  .column2 {
    padding: 2vh;
    font-size: 3vh;
    margin-left: 1vh;
    width: 70%;
    width: 45vh;
    align-items: center;

    min-height: 65vh;
  }

  .product-select {
    width: 80%;
  }

  .product-title {
    font-size: 3vh;
  }
  .product-description {
    margin-top: 3vh;
    max-height: 15vh;
    font-size: 2.3vh;

    /* padding-right: 3vw; */
  }
  .product-edit-link-div {
    width: 100%;
  }
  .product-add-to-bag-button {
    margin-bottom: 5vh;
  }
}

@media (max-width: 500px) {
}

@media (max-width: 400px) {
}
